*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
 font-family: sans-serif;
 background-image: url('https://media.istockphoto.com/photos/the-bigger-the-hat-the-bigger-the-dreams-picture-id1299986822?b=1&k=20&m=1299986822&s=170667a&w=0&h=ilCVRpxSPFFlCNBd1ems-6nXGBQDSjbXBLppwT1h3oc=');
 background-repeat: no-repeat;
background-size: cover;
  
      
} */
/* .menu-bar{
background-color:#DFC5DD ;
text-align: center;
} 
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: black;

}
.active,.menu-bar ul li:hover{
    background: white;
   border-radius: 3px;

}
.menu-bar.fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;

}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background:rgb(211, 120, 135);
    margin-top: 15px;
    margin-left: -15px;
} 
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
width: 150px;
padding: 10px;
border-bottom: 1px dotted #fff;
background: transparent;
border-radius: 0;
text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: whitesmoke;
}
.fa-angle-right{
    float: right;
}
.sub-menu-2{
    display: none;
    z-index: 123;

   
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;

}
button[type=submit] {
    display: inline-block;
    padding: 10px 12px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 8px;
    border-radius: 2px;
    margin-right: 20px;


    }
    .cta{
        text-decoration: none;
        padding-top: 20px;

    }

    h1{
        text-align: center;
        color: white;
    } */




    @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
body {
    background: linear-gradient(to bottom right, black, #DFC5DD);
    margin: 20px 20px;

}
h2 {
    font-family: "Emilys Candy", cursive;
    text-align: center;
    color: white;
}
* {
    box-sizing: border-box;
    margin: 0;
}

.gallery {
    background-color: black;


}
div.gallery {
    margin: 60px;
    display: inline-block;
    border: 1px solid #ccc;
    width: 200px;
    position: relative;
    font-family: helvetica;

    margin-bottom: -290px;

}
div.gallery:hover {
    border: 1px solid black;
}
div.gallery img {
    width: 100%;
    height: auto;


}
div.price {
    padding: 15px;
    text-align: center;
    background-color: white;
}



/* footer */
* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
 .pg-footer {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  margin-bottom: 20px;
} 


.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 20px;
    position: relative;
    bottom: -200px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    width: 50%;
    color: #fff;
    top: -120px;
    text-align: center;
    padding-top: 150px;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #027b9a;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}





.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
}

.footer-social-link.linkedin {
    height: 36px;
    left: 3px;
    top: 11px;
    width: 46px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;

}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 36px;
    width: 46px;
    padding: 0;
    border: 0;
    top: 50%;
}

 .footer-social-icon-svg {
    display: block;
} 

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 36px;
    left: 62px;
    top: 3px;
    width: 46px;
}

.footer-social-link.youtube {
    height: 36px;
    left: 123px;
    top: 12px;
    width: 46px;
}

.footer-social-link.github {
    height: 36px;
    left: 172px;
    top: 7px;
    width: 46px;
}

.footer-copyright {
    background-color:rgb(182, 119, 130);
    color: #fff;
    padding: 10px 05px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {

}







