{% load static %}

<script>
  let a;
  let date;
  let time;
  const options= { weekday : 'long', year : 'numeric',month : 'long', day : 'numeric'};
  setInterval(() => {
  a =new Date();

  
  date = a.toLocaleDateString(undefined,options);
  time = a.getHours()+':'+a.getMinutes()+':'+a.getSeconds();
  document.getElementById('time').innerHTML = time+ '<br>'+ date;
}, 113);
</script> 
<div id="contact">
  <footer class="footer">
   <div class="container">
    <div class=" row">
       <div class="footer-col">
             <h1>Customer infor</h1>
               <ul>
                 <li><a href="home">help</a></li>
                    <li><a href="about">My orders</a></li>
                      <li><a href="#">delivery information</a></li>
                        <li><a href="#">size guide </a></li>
                        <li><a href="#">contact us</a></li>
                        <li><a href="#">offers & Promotion</a></li>
                                          
                </ul>
              </div>
              
<div class="footer-col">
<h1>Brand infor</h1>
 <ul>
    <li><a href="#">about us </a></li>
      <li><a href="#">affilates </a></li>
          <li><a href="#">terms of sales </a></li>
            <li><a href="#">Sitemap </a></li>
            <li><a href="#">promotion terms </a></li>
            <li><a href="#">Student discount</a></li>



        </ul>
    </div>
<div class="footer-col">
<h1>Newsletter</h1>
<ul>
 <li><a href="#">new products  </a></li>
    <li><a href="#">promotion </a></li>
       <li><a href="#">interest </a></li>
  </ul>
</div>

<div class="footer-col">
<h1>stay in the loop</h1>
<li>Join our email list for the latest product releases</h2>
<li>Constant inspo and discount just for you!</li>
<br>
<h2><b>Enter your Email</b></h2>
<br>
<hr>
<br>

<div class="social-links">
<a href="https://twitter.com"><i class="fab fa-twitter"></i> </a>
<a href="https://instagram.com"><i class="fab fa-instagram"></i> </a>
<a href="https://pinterest.com"><i class="fa fa-pinterest-p"></i> </a>
<a href="https://www.facebook.com"><i class="fab fa-facebook"></i> </a>
               
</div>
</div>
</div>
</div>
<p> @2021 Digital Stylist</p>
<style>
.footer {
  margin-top: 40px;
}
.footer {
        background-color:#DFC5DD;
        padding: 70px 0;
        margin-top: 50px;
      }
      .container{
        max-width: 1170px;
      
        margin: auto;
      }
      .row{
        display: flex;
        flex-wrap: wrap;
      }
      
      ul{
        list-style: none;
      }
      .footer-col{
       
        width: 25%;
        padding: 0 15px;
      
      }
      .footer-col h1{
        font-size: 18px;
        color:black;
        text-transform: capitalize;
        margin-bottom: 30px;
        font-weight: 500;
        position: relative;
      }
      .footer-col h1::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        /* background-color:black; */
        height: 2px;
        box-sizing:border-box ;
        width: 50px;
      }
      .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
      }
      .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color:black;
        text-decoration: none;
        font-weight: 300;
        color:black;
        display: block ;
        transform: all 0.3s ease;
      }
      .footer-col ul li a:hover{
        color: #ffffff;
        padding-left: 8px;
      }
      .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: black;
        margin-right: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color:white;
      }
      .footer-col .social-links a:hover{
        color: #24262b;
        background-color: #ffffff;
      }
      @media(max-width:767) {
        .footer-col{
          width: 50%;
          margin-bottom: 30px;
        }
      }
      @media(max-width:767) {
        .footer-col{
          width: 100%;
          margin-bottom: 30px;
        }
      }
     li{
         list-style: none;
         
     }
     hr{
      height: 1px;
      background-color: black;
      border-radius: 2px;
    }
    p{
      text-align: center;
      margin-top: 30px;
    }
    .navbar{
      margin-left: 35%;
    } 
    h2{
        font-size: 20px;
    }
    
   
</style>
</footer>





