{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="static/style.css">
</head>
<body>
  
    
    <div class="menu-bar">


        <nav class="navbar navbar-#DFC5DD bg-#DFC5DD">
            <div class="container-fluid">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="What are you looking for?" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
        <ul>
        <li class="active"><a href="#"> Clothing </a>
        <div class="sub-menu-1">
            <ul>
            <li class="hover-me"><a href="#">Dresses <i class="fa fa-angle-right" ></i></a>
                <div class="sub-menu-2">
                    <ul>
                        <li><a href="#">Casual Dresses</a></li>
                        <li><a href="#">Occasion Dresses</a></li> 
                        <li><a href="#">Smock Dresses</a></li> 
                        <li><a href="#">Pencil Dresses</a></li>  
                        <li><a href="#">Bodycon Dresses</a></li>  
                        <li><a href="#">Mini Dresses</a></li>
                        <li><a href="#">Formal Dresses</a></li>  
                        <li><a href="#">Lond Dresses</a></li>
                        <li><a href="#">Strappy Dresses</a></li>     
     
                    </ul>
                </div>
            </li>
            <li class="hover-me"><a href="#">Trousers <i class="fa fa-angle-right" ></i></a>
                <div class="sub-menu-2">
                    <ul>
                        <li><a href="#"> Pallazo pants</a></li> 
                        <li><a href="#">Cargo pants </a></li> 
                        <li><a href="#">Stirrup pants </a></li>  
                        <li><a href="#">peg-leg pants</a></li>  
                        <li><a href="#">Tights </a></li>  
                       <li><a href="#"> Cropped pants</a></li> 
                       <li><a href="#"> legging pants</a></li>  
                    </ul>
                </div>
               

            
            </li>
            <li class="hover-me"><a href="#">Jeans <i class="fa fa-angle-right" ></i></a>
                <div class="sub-menu-2">
                    <ul>
                        <li><a href="#">Skinny Jeans</a></li>
                        <li><a href="#">Straight Jeans</a></li> 
                        <li><a href="#">Slim Jeans </a></li> 
                        <li><a href="#">Tapered Jeans </a></li>  
                        <li><a href="#">Boot Jeans</a></li>  
                        <li><a href="#">Loose Jeans </a></li>  
                        <li><a href="#">Majilong</a></li>

                    </ul>
                </div>
            </li>
            <li><a href="#">Shorts</a></li>
            <li class="hover-me"><a href="#">Tops <i class="fa fa-angle-right" ></i></a>
                <div class="sub-menu-2">
                    <ul>
                        <li><a href="#">Casual tops</a></li>
                        <li><a href="#">Ruffle tops</a></li> 
                        <li><a href="#">Off Shoulder tops </a></li> 
                        <li><a href="#">Aline tops </a></li>  
                        <li><a href="#">Crop tops</a></li>  
                        <li><a href="#">Peplum tops </a></li>  
                       <li><a href="#"> Shift tops</a></li>  
                    </ul>
                </div>
            </li>
            <li class="hover-me"><a href="#">T-shirts <i class="fa fa-angle-right" ></i></a>
                <div class="sub-menu-2">
                    <ul>
                        <li><a href="#">Crewneck T-shirts </a></li>
                        <li><a href="#"> Graphic T-shirts </a></li> 
                        <li><a href="#"> Collared T-shirts </a></li> 
                        <li><a href="#"> Cropped T-shirts  </a></li>  
                        <li><a href="#">High neck T-shirts </a></li>  
                       
                    </ul>
                </div>
            </li>
            <li><a href="#">Shirts</a></li>
            <li class="hover-me"><a href="#">Skirts <i class="fa fa-angle-right" ></i></a>
                <div class="sub-menu-2">
                    <ul>
                        <li><a href="#">Denim Skirts </a></li>
                        <li><a href="#">Mini Skirts </a></li> 
                        <li><a href="#"> Capri Skirts </a></li> 
                        <li><a href="#"> Knee Length Skirts  </a></li>  
                        <li><a href="#">Maxi Skirts </a></li>  
                       
                    </ul>
            </li>
            <li><a href="#">Knitwear</a></li>
            <li><a href="#">Suits</a></li>
            
        </ul>

    </div>
</li>
  
        <li><a href="#">Accesories</a>
             <div class="sub-menu-1">
                <ul>
               
                <li class="hover-me"><a href="#">Jewelry <i class="fa fa-angle-right" ></i> </a>
                    <div class="sub-menu-2">
                        <ul>
                            <li><a href="#">Earrings </a></li>
                            <li><a href="#">Necklaces</a></li> 
                            <li><a href="#">Bracelets </a></li> 
                            <li><a href="#">Anklets  </a></li>  
                            <li><a href="#">Rings</a></li>
                            <li><a href="#">Watches</a></li>  
  
                           
                        </ul>
                    </div>
                
                </li>
                <li><a href="#">Scarves</a></li>
                <li><a href="#">Wraps</a></li>
                <li class="hover-me"><a href="#">Sunglasses<i class="fa fa-angle-right" ></i> </a>
                    <div class="sub-menu-2">
                        <ul>
                            <li><a href="#">Aviator </a></li>
                            <li><a href="#">Butterfly</a></li> 
                            <li><a href="#">Cat Eye </a></li> 
                            <li><a href="#">Clubmaster </a></li>  
                            <li><a href="#">Rectangle</a></li>
                            <li><a href="#">Shield</a></li>
                            <li><a href="#">Square</a></li> 
                            <li><a href="#">Wayfarer</a></li>   
  
                           
                        </ul>
                    </div>
                
                </li>
                <li><a href="#">Belts</a></li>
            </ul>

        </div>
    </li>
        <li><a href="#">Shoes</a>
            <div class="sub-menu-1">
                <ul>
                <li><a href="#">Casual shoes</a></li>
                <li><a href="#">Canvas</a></li>
                <li><a href="#">Slippers</a></li>


                <li class="hover-me"><a href="#">Boots<i class="fa fa-angle-right" ></i></a>
                    <div class="sub-menu-2">
                        <ul>
                            <li><a href="#">Tall Boots </a></li>
                            <li><a href="#">Wedge Boots</a></li> 
                            <li><a href="#">Moto Boots </a></li> 
                            <li><a href="#">Combat Boots  </a></li>  
                            <li><a href="#">Ankle Boots</a></li>  
                            <li><a href="#">High-Heel Boots </a></li>  
                            <li><a href="#">Over-The-Knee </a></li>  
                            <li><a href="#"> Rain Boots</a></li>  
                            <li><a href="#">Snow Boots</a></li>   
                        </ul>
                    </div>
                </li> 
                <li class="hover-me"><a href="#">Sandals<i class="fa fa-angle-right" ></i></a>
                    <div class="sub-menu-2">
                        <ul>
                            <li><a href="#">Flat</a></li>
                            <li><a href="#">Flip flop</a></li> 
                            <li><a href="#">Heel</a></li>  
                            <li><a href="#">Mule</a></li> 
                            <li><a href="#">Slider</a></li> 
                            <li><a href="#">Strappy</a></li> 
                            <li><a href="#">Wedge</a></li> 
                            <li><a href="#">Toe Post</a></li> 
                        </ul>
                    </div> 
                </li>
            </ul>

        </div>
        </li>
        <li><a href="#">Bags</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="#">Shoulder Bags</a></li>
                    <li><a href="#">Satchel Bags</a></li> 
                    <li><a href="#"> Sling Bags</a></li>  
                    <li><a href="#">Quilted Bags</a></li> 
                    <li><a href="#"> Clutch Bags</a></li> 
                    <li><a href="#"> Minaudiere Bags</a></li> 
                    <li><a href="#"> Hobo Bags</a></li> 
                    <li><a href="#">Wristlet Bags</a></li>
                    <li><a href="#"> Beach Bags</a></li> 
                    <li><a href="#"> Wallet Bags</a></li>   
                </ul>
            </div>
        </li>

        
        <li><a href="#">Trends</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Hand bags</a></li> 
                    <li><a href="#"> Shoes</a></li>  
                    <li><a href="#">Jeans</a></li> 
                    <li><a href="#"> Necklaces</a></li> 
                    <li><a href="#">Earrings</a></li> 
                    <li><a href="#">Tops</a></li> 
                    <li><a href="#">Trousers</a></li>
                   
                    
                </ul>
           
        
        </li>
        <li><a href="#">Sales</a></li> 
        <li><a href="#">Be inspired</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="#">Holiday shop</a></li>
                    <li><a href="#">Casual wear</a></li> 
                    <li><a href="#"> Occasion wear</a></li>  
                    <li><a href="#">Women's Essential</a></li> 
                    <li><a href="#">Sustainable shop</a></li> 
                    
                    
                </ul>
            </div>
        </li>
        <li><a href="#">Gifts</a></li> 
    </div> 
 
 

<img  src="http://iwantyoutoknow.co.uk/wp-content/uploads/2018/03/new-combo.jpg" width="100%" >
    
</ul>
<h3>Browse Categories</h3>


<div class="gallery-wrapper">
    <div class="gallery">
        <a target="_blank" href="https://i.pinimg.com/originals/c8/1e/26/c81e2670f64ba09c92801abb18e71b4a.jpg">
            <img src="https://i.pinimg.com/originals/c8/1e/26/c81e2670f64ba09c92801abb18e71b4a.jpg" alt="skirt" width="300" height="200">
        </a>
        <div class="price">Dresse</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://i.pinimg.com/originals/10/d1/0a/10d10aa65c98a145e674bc8a3e05a094.jpg">
            <img src="https://i.pinimg.com/originals/10/d1/0a/10d10aa65c98a145e674bc8a3e05a094.jpg">
        </a>
        <div class="price">Strappy dress</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://i.pinimg.com/736x/3f/6f/6d/3f6f6d94cdc96ab2d517b68e8c45f884.jpg">
            <img src="https://i.pinimg.com/736x/3f/6f/6d/3f6f6d94cdc96ab2d517b68e8c45f884.jpg">
        </a>
        <div class="price">Dress</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://i.pinimg.com/736x/78/b2/36/78b236f9dcc0573d312470be47e86cc4.jpg">
            <img src="https://i.pinimg.com/736x/78/b2/36/78b236f9dcc0573d312470be47e86cc4.jpg" alt="combo" width="300" height="200">
        </a>
        <div class="price">Dress</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://i.pinimg.com/originals/ec/93/aa/ec93aadc1a8a5186301e946f445f8c4f.png">
            <img src="https://i.pinimg.com/originals/ec/93/aa/ec93aadc1a8a5186301e946f445f8c4f.png">
        </a>
        <div class="price">Dress</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://i.pinimg.com/736x/7b/2b/9a/7b2b9ad5f78bf6792d856b5f3dc081a3.jpg">
            <img src="https://i.pinimg.com/736x/7b/2b/9a/7b2b9ad5f78bf6792d856b5f3dc081a3.jpg" alt="dressy" width="300" height="200">
        </a>
        <div class="price">Dress</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://i.pinimg.com/736x/6f/75/fd/6f75fd43a1f85d9f4f22c3ea4c464a4b.jpg">
            <img src="https://i.pinimg.com/736x/6f/75/fd/6f75fd43a1f85d9f4f22c3ea4c464a4b.jpg" alt="combo" width="300" height="200">
        </a>
        <div class="price">Dress</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://thumbs.dreamstime.com/b/attractive-young-black-woman-white-dress-23389496.jpg">
            <img src="https://thumbs.dreamstime.com/b/attractive-young-black-woman-white-dress-23389496.jpg" alt="jacket" width="300" height="200">
        </a>
        <div class="price">Short dress</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://i.pinimg.com/236x/f9/43/00/f9430017f24f0dcffb45fffdc4d63695.jpg">
            <img src="https://i.pinimg.com/236x/f9/43/00/f9430017f24f0dcffb45fffdc4d63695.jpg" alt="dressy" width="300" height="200">
        </a>
        <div class="price">Night Out Dress</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://www.stylevore.com/wp-content/uploads/2020/01/6158639559250ec45cd3a7ece6b4eca4-250x375.jpg">
            <img src="https://www.stylevore.com/wp-content/uploads/2020/01/6158639559250ec45cd3a7ece6b4eca4-250x375.jpg" alt="skirt" width="300" height="200">
        </a>
        <div class="price">Dress</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://i.pinimg.com/474x/39/02/f0/3902f00195e004c56d82ae8084a05979.jpg">
            <img src="https://i.pinimg.com/474x/39/02/f0/3902f00195e004c56d82ae8084a05979.jpg">
        </a>
        <div class="price">Dress</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://i.pinimg.com/originals/c9/a9/d6/c9a9d6ced8f67363f5d5aa64271a8716.jpg">
            <img src="https://i.pinimg.com/originals/c9/a9/d6/c9a9d6ced8f67363f5d5aa64271a8716.jpg">
        </a>
        <div class="price">Dress</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://i.pinimg.com/originals/ee/c6/59/eec659439391f3fd3470fe158baf60ca.jpg">
            <img src="https://i.pinimg.com/originals/ee/c6/59/eec659439391f3fd3470fe158baf60ca.jpg" alt="combo" width="300" height="200">
        </a>
        <div class="price">Dress</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://i.pinimg.com/originals/cc/42/28/cc42280765c21482cbc9c31a9feef2e3.jpg">
            <img src="https://i.pinimg.com/originals/cc/42/28/cc42280765c21482cbc9c31a9feef2e3.jpg">
        </a>
        <div class="price">Dress</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="https://i.pinimg.com/originals/a2/9e/8f/a29e8ff2bdcd452cf6076cf43c088999.jpg">
            <img src="https://i.pinimg.com/originals/a2/9e/8f/a29e8ff2bdcd452cf6076cf43c088999.jpg" alt="dressy" width="300" height="200">
        </a>
        <div class="price">T-shirt</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="http://madeforblack.com/wp-content/uploads/2019/02/Most-Swag-Outfits-For-Black-Women-15.jpg">
            <img src="http://madeforblack.com/wp-content/uploads/2019/02/Most-Swag-Outfits-For-Black-Women-15.jpg " alt="combo " width="300 " height="200 ">
        </a>
        <div class="price ">Shirt</div>
    </div>
    <!-- <div class="gallery ">
        <a target="_blank " href="https://cdn.shopify.com/s/files/1/1099/0606/products/4021_3866_lowres.jpg?v=1583794517 ">
            <img src="https://cdn.shopify.com/s/files/1/1099/0606/products/4021_3866_lowres.jpg?v=1583794517 " alt="jacket " width="300 " height="200 ">
        </a>
        <div class="price ">Skirts</div>
    </div>
    <div class="gallery ">
        <a target="_blank " href="https://i.pinimg.com/736x/e1/79/64/e179649fc0241bf299f4b4f28859b7f7.jpg ">
            <img src="https://i.pinimg.com/736x/e1/79/64/e179649fc0241bf299f4b4f28859b7f7.jpg  " alt="dressy " width="300 " height="200 ">
        </a>
        <div class="price ">Night Out Dress</div> -->
        <style>
            @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
/* body {
    background: linear-gradient(to bottom right, black, #DFC5DD);
    margin: 20px 20px;
} */
h2 {
    font-family: "Emilys Candy", cursive;
    text-align: center;
    color: white;
}
* {
    box-sizing: border-box;
    margin: 0;
}
.gallery {
    background-color: black;
}
div.gallery {
    margin: 60px;
    display: inline-block;
    border: 1px solid #ccc;
    width: 200px;
    position: relative;
    font-family: helvetica;
    margin-bottom: -290px;
}
div.gallery:hover {
    border: 1px solid black;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.price {
    padding: 15px;
    text-align: center;
    background-color: white;
}
h3{
text-align: center;
margin-top: 40px;
}


        </style>
    </div>


 <!-- <div class="card-group">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlzh1beHoza3AoVAEQsmuZgxJY63lqGMCczw&usqp=CAU" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>


        <style>
            .card{
                margin-top: 40px;
                padding: 14px;
            }
        </style> -->
      </div>
    </div>
  </div>


  {% include 'footer.html' %}
  








</body>
</html>
