
<div id="contact">
    <footer class="footer">
     <div class="container">
      <div class=" row">
         <div class="footer-col">
               <h1>Customer infor</h1>
                 <ul>
                   <li><a href="home">help</a></li>
                      <li><a href="about">My orders</a></li>
                        <li><a href="#">delivery information</a></li>
                          <li><a href="#">size guide </a></li>
                          <li><a href="#">contact us</a></li>
                          <li><a href="#">offers & Promotion</a></li>
                                            
                  </ul>
                </div>
                
<div class="footer-col">
<h1>Brand infor</h1>
   <ul>
      <li><a href="#">about us </a></li>
        <li><a href="#">affilates </a></li>
            <li><a href="#">terms of sales </a></li>
              <li><a href="#">Sitemap </a></li>
              <li><a href="#">promotion terms </a></li>
              <li><a href="#">Student discount</a></li>



          </ul>
      </div>
<div class="footer-col">
<h1>Newsletter</h1>
  <ul>
   <li><a href="#">new products  </a></li>
      <li><a href="#">promotion </a></li>
         <li><a href="#">interest </a></li>
    </ul>
  </div>

<div class="footer-col">
<h1>stay in the loop</h1>
<li>Join our email list for the latest product releases</h2>
<li>Constant inspo and discount just for you!</li>
<br>
<h2><b>Enter your Email</b></h2>
<br>
<hr>
<br>

<div class="social-links">
  <a href="https://twitter.com"><i class="fab fa-twitter"></i> </a>
  <a href="https://instagram.com"><i class="fab fa-instagram"></i> </a>
  <a href="https://pinterest.com"><i class="fa fa-pinterest-p"></i> </a>
  <a href="https://www.facebook.com"><i class="fab fa-facebook"></i> </a>
                 
</div>
</div>
</div>
</div>
<p> @2021 Digital Stylist</p>

</footer>
